/*color.scss*/
$colorWhite: #fff;
$colorBlack: #000;
$colorWhiteText: #fff;
  // $colorText: #3C3C3B;
  // $colorSecondaryTtext: #A1A0A0;
$colorActiveColor: #F0BA4E;
$colorRed: #BA0000;

  // bg
$bgColor : #000;

$orange:#F18557;
$red: #D5212E;
$black: #000;
$bagColor: #044298;